#wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 771px;
  background: #d2d2d2;
  z-index: 1;

}
#wrapper_sm {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 100px);
  background: #d2d2d2;
  z-index: 1;

}
#backdrop {
  width: 60%;
  height: 45%;
  margin-left: 19.5%;
  margin-top: 25%;
}

@media (width <= 64rem) {
  #backdrop {
    height: 42% !important;
    margin-top: 18%;
  }
}

@media (width <= 48rem) {
  #backdrop {
    width: 44%;
    margin-left: 27%;
    margin-top: 10%;
  }
}

#best_offers_btn::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: #001f40;
  top: 0;
  left: 0;
  transition: 0.3s;
}

#best_offers_btn::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: pink;
  top: 0;
  left: 0;
  transform: translateX(-130px);
  transition: 0.3s;
}
#best_offers_btn:hover::after{
  transform: translateX(0px);
}
#best_offers_btn:hover::before {
  transform: translateX(130px);
}

#Footer_a_tag:hover div span {
  transform: translateY(-24px);
}

#Footer_phone::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: #fb64b6 ;
}
#Footer_phone:hover::before {
  animation-name: bg;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes bg {
  0%{

  } 100% {
    top: -3px;
    left: 28px;
    width: 120px;
  }
}

#Cart_ul::-webkit-scrollbar {
  display: none;
}

#login_main_wrapper::before {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  background: #7c86ff;
  border-radius: 100%;
  right: -90px;
  bottom: -70px;
}
#login_main_wrapper::after {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  background: #51a5f3;
  border-radius: 100%;
  left: -90px;
  top: -70px;
}